In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Vishal\Desktop\copper model\Copper_Set.csv')
print(df.head())

                                     id   item_date quantity tons    customer  \
0  EC06F063-9DF0-440C-8764-0B0C05A4F6AE  20210401.0     54.151139  30156308.0
1  4E5F4B3D-DDDF-499D-AFDE-A3227EC49425  20210401.0    768.024839  30202938.0
2  E140FF1B-2407-4C02-A0DD-780A093B1158  20210401.0    386.127949  30153963.0
3  F8D507A0-9C62-4EFE-831E-33E1DA53BB50  20210401.0    202.411065  30349574.0
4  4E1C4E78-152B-430A-8094-ADD889C9D0AD  20210401.0    785.526262  30211560.0

   country status item type  application  thickness   width  \
0     28.0    Won         W         10.0       2.00  1500.0
1     25.0    Won         W         41.0       0.80  1210.0
2     30.0    Won        WI         28.0       0.38   952.0
3     32.0    Won         S         59.0       2.30  1317.0
4     28.0    Won         W         10.0       4.00  2000.0

                               material_ref  product_ref  delivery date  \
0                               DEQ1 S460MC   1670798778     20210701.0
1  0000000000000000000000000000000000104991   1668701718     20210401.0
2                                  S0380700       628377     20210101.0
3                   DX51D+ZM310MAO 2.3X1317   1668701718     20210101.0
4                           2_S275JR+AR-CL1       640665     20210301.0

   selling_price
0         854.00
1        1047.00
2         644.33
3         768.00
4         577.00

C:\Users\Vishal\AppData\Local\Temp\ipykernel_17496\2412894598.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\Vishal\Desktop\copper model\Copper_Set.csv')

In [3]:
print(df.isnull().sum())
print(df.describe())
df['material_ref'] = df['material_ref'].replace(r'^00000.*', pd.NA, regex=True)

id                   2
item_date            1
quantity tons        0
customer             1
country             28
status               2
item type            0
application         24
thickness            1
width                0
material_ref     77919
product_ref          0
delivery date        1
selling_price        1
dtype: int64
          item_date      customer        country    application  \
count  1.816720e+05  1.816720e+05  181645.000000  181649.000000
mean   2.020459e+07  3.051221e+07      44.893022      25.615809
std    4.551119e+03  2.433382e+07      24.404214      17.754175
min    1.995000e+07  1.245800e+04      25.000000       2.000000
25%    2.020093e+07  3.019688e+07      26.000000      10.000000
50%    2.020113e+07  3.020524e+07      30.000000      15.000000
75%    2.021020e+07  3.028042e+07      78.000000      41.000000
max    2.021040e+07  2.147484e+09     113.000000      99.000000

           thickness          width   product_ref  delivery date  \
count  181672.000000  181673.000000  1.816730e+05   1.816720e+05
mean        2.564827    1295.286724  4.739679e+08   2.020738e+07
std         6.572321     261.631754  7.175101e+08   2.411059e+04
min         0.180000       1.000000  6.117280e+05   2.019040e+07
25%         0.700000    1180.000000  6.119930e+05   2.020110e+07
50%         1.500000    1250.000000  6.406650e+05   2.021010e+07
75%         3.000000    1500.000000  1.332077e+09   2.021040e+07
max      2500.000000    2990.000000  1.722208e+09   3.031010e+07

       selling_price
count   1.816720e+05
mean    1.918036e+03
std     3.317956e+05
min    -1.160000e+03
25%     6.690000e+02
50%     8.120000e+02
75%     9.530000e+02
max     1.000010e+08

In [4]:
# Fill missing numerical values with the median
df['item_date'].fillna(df['item_date'].median(), inplace=True)
df['customer'].fillna(df['customer'].median(), inplace=True)
df['country'].fillna(df['country'].median(), inplace=True)
df['application'].fillna(df['application'].median(), inplace=True)
df['thickness'].fillna(df['thickness'].median(), inplace=True)
df['selling_price'].fillna(df['selling_price'].median(), inplace=True)

# Fill missing categorical values with the mode
df['status'].fillna(df['status'].mode()[0], inplace=True)
df['material_ref'].fillna(df['material_ref'].mode()[0], inplace=True)

# Drop rows with missing 'id' or 'selling_price' if still any
df.dropna(subset=['id', 'selling_price'], inplace=True)

# Verify if all missing values are handled
print(df.isnull().sum())

id               0
item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    1
selling_price    0
dtype: int64

In [5]:
# Fill the remaining missing value in 'delivery date' with the median
df['delivery date'].fillna(df['delivery date'].median(), inplace=True)

# Verify no missing values
print(df.isnull().sum())

id               0
item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [7]:
# Convert relevant columns to numeric, setting errors='coerce' to convert invalid parsing to NaN
continuous_cols = ['quantity tons', 'thickness', 'width', 'selling_price']

for col in continuous_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Now, let's rerun the outlier capping function
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Capping the outliers
    df[column] = df[column].clip(lower=lower_bound, upper=upper_bound)
    print(f"Outliers capped for {column}")

# Apply to continuous columns again
for col in continuous_cols:
    cap_outliers(df, col)

# Verify the changes
df.describe()

Outliers capped for quantity tons
Outliers capped for thickness
Outliers capped for width
Outliers capped for selling_price

,item_date,quantity tons,customer,country,application,thickness,width,product_ref,delivery date,selling_price
count,1.816710e+05,181670.000000,1.816710e+05,181671.000000,181671.000000,181671.000000,181671.000000,1.816710e+05,1.816710e+05,181671.000000
mean,2.020459e+07,49.175272,3.051221e+07,44.890918,25.614308,2.245431,1297.049079,4.739731e+08,2.020738e+07,819.051785
std,4.551111e+03,47.994556,2.433388e+07,24.403100,17.753309,1.890714,248.961064,7.175123e+08,2.411065e+04,209.155300
min,1.995000e+07,-73.316235,1.245800e+04,25.000000,2.000000,0.180000,700.000000,6.117280e+05,2.019040e+07,243.000000
25%,2.020093e+07,10.970147,3.019688e+07,26.000000,10.000000,0.700000,1180.000000,6.119930e+05,2.020110e+07,669.000000
50%,2.020113e+07,30.364996,3.020524e+07,30.000000,15.000000,1.500000,1250.000000,6.406650e+05,2.021010e+07,812.000000
75%,2.021020e+07,67.161068,3.028042e+07,78.000000,41.000000,3.000000,1500.000000,1.332077e+09,2.021040e+07,953.000000
max,2.021040e+07,151.447449,2.147484e+09,113.000000,99.000000,6.450000,1980.000000,1.722208e+09,3.031010e+07,1379.000000

In [9]:
import numpy as np  # Import numpy

# Remove negative values in 'quantity tons', replacing them with NaN
df['quantity tons'] = df['quantity tons'].apply(lambda x: x if x >= 0 else np.nan)

# You can do the same for other columns if needed
# For example, if thickness or width can't be negative:
df['thickness'] = df['thickness'].apply(lambda x: x if x >= 0 else np.nan)
df['width'] = df['width'].apply(lambda x: x if x >= 0 else np.nan)

# Now, check if there are any NaN values left in the dataset
print(df.isnull().sum())

# Optionally, you can decide whether to fill or drop rows with NaN
df.dropna(inplace=True)  # This will remove rows with NaN values

# Verify the final dataset
df.describe()

id               0
item_date        0
quantity tons    5
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

,item_date,quantity tons,customer,country,application,thickness,width,product_ref,delivery date,selling_price
count,1.816660e+05,181666.000000,1.816660e+05,181666.000000,181666.000000,181666.000000,181666.000000,1.816660e+05,1.816660e+05,181666.000000
mean,2.020459e+07,49.176888,3.051222e+07,44.891152,25.614199,2.245470,1297.050704,4.739761e+08,2.020738e+07,819.058755
std,4.551131e+03,47.993656,2.433422e+07,24.403151,17.753387,1.890725,248.962904,7.175174e+08,2.411097e+04,209.152090
min,1.995000e+07,0.000010,1.245800e+04,25.000000,2.000000,0.180000,700.000000,6.117280e+05,2.019040e+07,243.000000
25%,2.020093e+07,10.970879,3.019688e+07,26.000000,10.000000,0.700000,1180.000000,6.119930e+05,2.020110e+07,669.000000
50%,2.020113e+07,30.365193,3.020524e+07,30.000000,15.000000,1.500000,1250.000000,6.406650e+05,2.021010e+07,812.000000
75%,2.021020e+07,67.161415,3.028042e+07,78.000000,41.000000,3.000000,1500.000000,1.332077e+09,2.021040e+07,953.000000
max,2.021040e+07,151.447449,2.147484e+09,113.000000,99.000000,6.450000,1980.000000,1.722208e+09,3.031010e+07,1379.000000

In [10]:
df['quantity tons'].fillna(df['quantity tons'].median(), inplace=True)

In [11]:
df.isnull().sum()

id               0
item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [12]:
# Export the cleaned DataFrame to a CSV file
cleaned_csv_path = 'cleaned_data.csv'  # Adjust the path as needed
df.to_csv(cleaned_csv_path, index=False)
print(f"Cleaned data exported to {cleaned_csv_path}")

Cleaned data exported to cleaned_data.csv